/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,800;1,900&family=Poppins:wght@500;700&display=swap');

/* Common start*/

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1320px;
    margin: 0 auto;
}

.margin-botton {
    margin-bottom: 100px;
}

/* Common end*/

/* header start */

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-column-gap: 50px;
    background: #161616;
    border-radius: 30px;
    color: #fff;
    margin-top: 50px;
    height: 646px;
}

.header-info {
    margin-left: 100px;
}

.header-info h1 {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
}

.header-info p {
    font-size: 16px;
}

.header-btn {
    background: #DD0000;
    border-radius: 5px;
    border: none;
    color: #fff;
    padding: 20px 50px;
    margin-top: 20px;
    transition: 0.4s;
    font-size: 20px;
    cursor: pointer;
}

.header-btn i {
    margin-left: 10px;
    border: none;
}

.header-btn:hover {
    box-shadow: 0px 0px 11px 7px #dd0000;
    transform: scale(1.1);
}

.header-img {
    margin-bottom: -10px;
    margin-top: 33px;
}

.header-img img {
    width: 91%;
}

/* header end */


/* mid section start */
.mid-items {
    display: grid;
    grid-template-columns: repeat(2, 300px 1fr);
    grid-column-gap: 30px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #161616;
    padding: 0px 30px;
    border-radius: 10px;
    height: 312px;
}

.right a button {
    padding: 20px 30px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    transition: 0.4s;
    cursor: pointer;
    width: 100%;
}

.right button a {
    text-decoration: none;
    color: #161616;
}

#separate-btn {
    background: #DD0000;
    color: #fff;
}

#separate-btn a {
    color: #fff;
}

.right button:hover {
    box-shadow: 0px 0px 11px 7px #dd0000;
    background-color: #DD0000;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.card {
    box-shadow: 0px 0px 4px lightgray;
    border-radius: 10px;
    transition: 0.4s;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.1);

}

.card-img {
    width: 312px;
    height: 175px;
    border-radius: 10px;
}

.card-info {
    padding: 20px;
}

.card-btn {
    width: 108px;
    height: 35px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.card-icon {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.card-icon i {
    margin-right: 10px;
}

.view-btn {
    display: none;
}

/* mid section end */

/* footer start */

.footer {
    text-align: center;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.goal h1 {
    font-size: 40px;
    margin-bottom: 0;
    color: #fff;
}

.hr {
    color: lightgray;
    margin: 50px 0px;
    width: 80%;
    height: 1px;
    background-color: gray;
}


.footer-items a {
    text-decoration: none;
    color: #B9B9B9;
    padding: 0px 20px;
    text-transform: capitalize;
}

.social-icon {
    font-size: 1.3rem;
    margin-top: 50px;
}

.social-icon a {
    margin: 0px 30px;
    color: #fff;
    padding: 5px;
    background-color: #303030;
    border-radius: 50%;
    transition: 0.4s;
}

.social-icon a i {
    height: 30px;
    width: 30px;
}

.social-icon a:hover {
    background-color: #DD0000;
}

/* footer end */



/* Teblet Responsive start */

@media screen and (min-width:689px) and (max-width:992px) {
    .container {
        width: 95%;
        margin: 0 auto;
    }

    .margin-botton {
        margin-bottom: 50px;
    }

    /* header start */
    .header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        background: #161616;
        border-radius: 30px;
        color: #fff;
        margin-top: 50px;
        height: 398px;
        width: 100%;
        overflow: hidden;
    }

    .header-info {
        margin-left: 76px;
    }

    .header-info h1 {
        font-size: 4vw;
    }

    .header-info p {
        font-size: 14px;
    }

    .header-img {
        margin-top: 53px;
        margin-right: 10px;
    }

    .header-img img {
        width: 100%;
        height: 340px;
    }


    /* header end */


    /* mid section start */
    .mid-items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
    }

    .right {
        align-items: center;
        background-color: #fff;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    .right a {
        border: 1px solid lightgray;
        height: 64px;
        width: 30%;
        border-radius: 10px;
        font-size: 14px;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-img {
        width: 100%;
    }

    .hide-card {
        display: none;
    }

    .view-btn {
        padding: 10px 30px;
        font-size: 20px;
        background-color: #DD0000;
        border-radius: 10px;
        width: 15%;
        color: #fff;
        text-align: center;
        margin: 30px auto 0px auto;
        display: block;
    }

    /* mid section end */

    /* footer start */

    .footer {
        width: 100%;
        padding-bottom: 40px;
    }

    .footer-items a {
        padding: 0px 30px;
        text-transform: capitalize;
        display: inline;
        margin-bottom: 20px;
    }

    /* footer end */
}

/* Teblet Responsive end */



/* Mobile responsive start */

@media screen and (max-width:688px) {
    .container {
        width: 95%;
        margin: 0 auto;
    }

    .margin-botton {
        margin-bottom: 50px;
    }

    /* header start */
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-top: 20px;
        text-align: center;
    }

    .header-info {
        margin-left: 0px;
        margin-top: 30px;
        width: 70%;
        height: 100%;
        margin-bottom: 15px;
    }

    .header-info h1 {
        font-size: 30px;
    }

    .header-info p {
        font-size: 14px;
    }

    .header-btn {
        padding: 0;
        width: 50%;
        height: 40px;
        font-size: 14px;
    }

    .header-img {
        margin-bottom: -6px;
    }

    .header-img img {
        width: 100%;
    }

    /* header end */


    /* mid section start */
    .mid-items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
    }

    .right {
        align-items: center;
        background-color: #fff;
        /* height: 100%; */
    }

    .right a button {
        border: 1px solid lightgray;
    }

    .cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        box-shadow: 0px 0px 4px lightgray;
        border-radius: 10px;
        height: 100%;
    }

    .card:hover {
        transform: scale(1);
        box-shadow: none;
    }

    .card-img {
        width: 100%;
        height: 188px;
        border-radius: 10px;
    }

    .card-info {
        padding: 20px;
    }

    .card-btn {
        width: 108px;
        height: 35px;
        background-color: #fff;
        border-radius: 5px;
    }

    /* mid section end */

    /* footer start */

    .footer {
        width: 100%;
        background-color: #161616;
        text-align: center;
    }

    .goal h1 {
        font-size: 40px;
        margin-bottom: 0;
        color: #fff;
    }

    .hr {
        color: lightgray;
        margin: 50px 0px;
        width: 80%;
        height: 1px;
        background-color: gray;
    }

    .footer-items a {
        padding: 20px 0px;
        text-transform: capitalize;
        display: block;
    }

    .social-icon a {
        margin: 20px 10px;
    }

    /* footer end */
}


/* Mobile responsive end */



/* upcoming match page start */

#card-sp {
    width: 312px;
    height: 242px;
    text-align: center;
}

.card-flag {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

.card-info p {
    color: #4D4D4D;
}


/* german vs franch card responsive start */

/* mobile responsive */
@media screen and (max-width:688px) {

    #card-sp {
        width: 100%;
        height: 242px;
        text-align: center;
    }

    .card-flag {
        margin-top: 20px;

    }

}

/* teblet responsive */
@media screen and (min-width:689px) and (max-width:992px) {

    #card-sp {
        width: 100%;
    }

    .card-flag {
        margin-top: 20px;
    }
}

/* german vs franch card responsive end */

/* upcoming match page end */